/* 
Version 0.7
Author: Sushaantu
*/

:root {
  --font-size: 15.5px; 
  --primary-color: rgb(10, 132, 255);
}

body, html {
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
  letter-spacing: 0;
  color: #000;
  font-size: var(--font-size) !important;
}

em {
  font-family: Baskerville,"Goudy Old Style","Palatino","Book Antiqua",serif;
  font-size: 21px;
  margin: 0 3px;
}

div {
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
  font-size: var(--font-size) !important;
}

textarea {
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
  font-size: var(--font-size) !important;
}

input,
textarea,
[contenteditable] {
  color: var(--primary-color);
}

.rm-page-ref-tag {
  color: var(--primary-color);
}

/* Blue link */
a, .rm-page-ref-link-color {
  color: var(--primary-color);
}

/* Kanban */
.kanban-card > span div { width: auto !important; margin-right: 0 !important; }
.kanban-card {
    border-radius: 3px;
    box-shadow: 0 1px 0 rgba(9,30,66,.25);
}
.kanban-column {
  margin: 4px;
  padding: 0;
  border-radius: 3px;
  background-color: #ebecf0;
}
.kanban-title {
  background: #fff;
  border-bottom: 0;
  background-color: var(--primary-color) !important;
  border-radius: 3px 3px 0 0;
}

.kanban-title span {
    margin-top: 5px;
    display: inline-block;
    color: #fff;
    font-weight: bold;
}

.kanban-board {
    background-color: #fff;
    padding: 0;
}

/* left sidebar lighter bg  */
.roam-body .roam-app .roam-sidebar-container {
  background: #fff;
  border-right: 1px solid #eee;
}

/* left sidebar divider  */
.roam-body .roam-app .roam-sidebar-container .roam-sidebar-content .starred-pages-wrapper > div:first-child {
  background-color: #eee !important;
  margin: 2px 0;
}

/* topbar */
.roam-topbar {
  border-bottom: 1px solid #eee;
}

/* search */
.rm-find-or-create-wrapper {
  flex: 0 1 100% !important;
}

.roam-log-container .roam-log-page {
  border-top: 1px solid #eee;
}

.rm-find-or-create-wrapper .bp3-input {
  border: none !important;
  box-shadow: none !important;
}

.rm-reference-item {
  background: #fff;
}

div#right-sidebar {
  background: #fff !important;
  border-left: 1px solid #eee !important;
}

.CodeMirror {
  border-radius: 6px;
  border: 1px solid #eee;
}

span.version-bullet {
  background-color: var(--primary-color) !important;
}

.check-container input:checked ~ .checkmark {
  background-color: var(--primary-color) !important;
}

.bp3-button>:last-child {
  color: #5c7080;
}

.roam-body .roam-app .roam-sidebar-container .roam-sidebar-content .log-button:hover {
  background: var(--primary-color) !important;
  color: #fff;
}

.roam-body .roam-app .roam-sidebar-container .roam-sidebar-content .starred-pages-wrapper .starred-pages .page:hover {
  background: var(--primary-color) !important;
  color: #fff;
}

.flex-v-box.starred-pages-wrapper {
    padding: 8px 0 !important;
}

.roam-body .roam-app .roam-sidebar-container .roam-sidebar-content .starred-pages-wrapper .starred-pages .page {
  padding: 8px 20px !important;
}

.flex-v-box .starred-pages-wrapper .flex-h-box {
    padding: 0px 20px !important;
}

a#roam-sidebar-logo {
    display: none;
}

@media (prefers-color-scheme: dark) {
  body, html {
    background: #000;
    color: #fff;
  }
  
  input,
textarea,
[contenteditable] {
  color:  #fff;
}
  
  .roam-body .roam-app h1 {
    color: #fff;  
  }
  
  .roam-body .roam-app {
    color: #a7a7a7;
  }
  
  .rm-pages-title-text {
    color: #fff;
  }
  
  .bp3-button>:last-child {
	color: #fff !important;
  }
  
  .bp3-input {
    background: #ffffff26;
    color: #fff;
  }
  
  .bp3-button[class*="bp3-icon-"]::before {
    color: #fff !important;
  }
  
  .kanban-board {
    background-color: #000;
    padding: 0;
  }
  
  .kanban-column {
    color: #000;
  }
  
  .kanban-title {
    background: #000;
  }
  
  .roam-highlight, .roam-highlight strong {
    background-color: rgb(255, 214, 10);
    color: rgb(28, 28, 30) !important;
  }
  
  .rm-embed-container {
    background: #1f1f1f !important;
    border-radius: 3px;
    padding: 10px;
  }
  
  .rm-reference-item {
  	background: #000;
  }
  
  div#right-sidebar {
    background: #000 !important;
    border-left: 1px solid #2b2b2b !important;
  }
  
  .controls .simple-bullet-outer .simple-bullet-inner {
    background-color: rgb(100, 210, 255) !important;
    color: #fff !important;
  }
  
  .rm-clickable-pill {
    background-color: var(--primary-color) !important;
    color: #fff !important;
  }
  
  .rm-clickable-pill.empty-pill {
    opacity: 0.6;
  }
  
  .rm-clickable-pill.level1-pill {
    opacity: 0.7;
  }
  
  .rm-clickable-pill.level2-pill {
    opacity: 0.8;
  }
  
  .rm-clickable-pill.level3-pill {
    opacity: 0.9;
  }
  
  .roam-body .roam-app .roam-sidebar-container .roam-sidebar-content .log-button {
    color: #eee;
  }
  
  .rm-all-pages .table .rm-pages-row.rm-pages-row-header {
    background-color: #263238;
    border-bottom: 0;
  }
  
  .roam-bullet-closed {
    background-color: var(--primary-color) !important;
  }
  
  /* left sidebar lighter bg  */
  .roam-body .roam-app .roam-sidebar-container {
    background: #000;
    border-right: 1px solid #2b2b2b !important;
  }

  /* left sidebar divider  */
  .roam-body .roam-app .roam-sidebar-container .roam-sidebar-content .starred-pages-wrapper > div:first-child {
    background-color: #2b2b2b !important;
  }

  /* topbar */
  .roam-topbar {
    background: #000;
    border-bottom: 1px solid #2b2b2b !important;
  }

  /* search */
  .rm-find-or-create-wrapper {
    flex: 0 1 100% !important;
  }

  .rm-find-or-create-wrapper .bp3-input {
    border: none !important;
    box-shadow: none !important;
  }
}
