/* SF font on Macs */
*, div {
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
}

/* Blue link */
a, .rm-page-ref-link-color {
  color: rgb(10, 132, 255);
}

/* Fix images inside Kanban by @su */
.kanban-card > span div { width: auto !important; margin-right: 0 !important; }

/* Better italics */
em {
    font-family: "Times-Roman", serif;
    font-size: 1.2em;
}

/* left sidebar lighter bg  */
.roam-body .roam-app .roam-sidebar-container {
  background: #fff;
  border-right: 1px solid #eee;
}

/* left sidebar divider  */
.roam-body .roam-app .roam-sidebar-container .roam-sidebar-content .starred-pages-wrapper > div:first-child {
  background-color: #eee !important;
  margin: 2px 0;
}

/* topbar */
.roam-topbar {
  border-bottom: 1px solid #eee;
}

/* search */
.rm-find-or-create-wrapper {
  flex: 0 1 100% !important;
}

.roam-log-container .roam-log-page {
  border-top: 1px solid #eee;
}

.rm-find-or-create-wrapper .bp3-input {
  border: none !important;
  box-shadow: none !important;
}

.rm-reference-item {
  background: #fff;
}

div#right-sidebar {
  background: #fff !important;
  border-left: 1px solid #eee !important;
}

.CodeMirror {
  border-radius: 6px;
  border: 1px solid #eee;
}

.kanban-title {
  background: #fff;
}

span.version-bullet {
  background-color: rgb(10, 132, 255) !important;
}

.check-container input:checked ~ .checkmark {
  background-color: rgb(10, 132, 255) !important;
}

.bp3-button>:last-child {
  color: #5c7080;
}

.roam-body .roam-app .roam-sidebar-container .roam-sidebar-content .log-button:hover {
  background: rgb(10, 132, 255) !important;
  color: #fff;
}

.roam-body .roam-app .roam-sidebar-container .roam-sidebar-content .starred-pages-wrapper .starred-pages .page:hover {
  background: rgb(10, 132, 255) !important;
  color: #fff;
}

.flex-v-box.starred-pages-wrapper {
    padding: 8px 0 !important;
}

.roam-body .roam-app .roam-sidebar-container .roam-sidebar-content .starred-pages-wrapper .starred-pages .page {
  padding: 8px 20px !important;
}

.flex-v-box .starred-pages-wrapper .flex-h-box {
    padding: 0px 20px !important;
}

@media (prefers-color-scheme: dark) {
  body {
    background: #000;
  }
  
  .roam-body .roam-app h1 {
    color: #fff;  
  }
  
  .roam-body .roam-app {
    color: #fff;
  }
  
  .rm-pages-title-text {
    color: #fff;
  }
  
  .bp3-button>:last-child {
	color: #fff !important;
  }
  
  .bp3-input {
    background: #ffffff26;
    color: #fff;
  }
  
  .bp3-button[class*="bp3-icon-"]::before {
    color: #fff !important;
  }
  
  .kanban-title {
    background: #000;
  }
  
  .rm-reference-item {
  	background: #000;
  }
  
  div#right-sidebar {
    background: #000 !important;
    border-left: 1px solid #2b2b2b !important;
  }
  
  .controls .simple-bullet-outer .simple-bullet-inner {
    background-color: rgb(100, 210, 255) !important;
    color: #fff !important;
  }
  
  .rm-clickable-pill {
    background-color: rgb(10, 132, 255) !important;
    color: #fff !important;
  }
  
  .rm-clickable-pill.empty-pill {
    opacity: 0.6;
  }
  
  .rm-clickable-pill.level1-pill {
    opacity: 0.7;
  }
  
  .rm-clickable-pill.level2-pill {
    opacity: 0.8;
  }
  
  .rm-clickable-pill.level3-pill {
    opacity: 0.9;
  }
  
  .roam-body .roam-app .roam-sidebar-container .roam-sidebar-content .log-button {
    color: #eee;
  }
  
  .rm-all-pages .table .rm-pages-row.rm-pages-row-header {
    background-color: #263238;
    border-bottom: 0;
  }
  
  .roam-bullet-closed {
    background-color: rgb(10, 132, 255) !important;
  }
  
  /* left sidebar lighter bg  */
  .roam-body .roam-app .roam-sidebar-container {
    background: #000;
    border-right: 1px solid #2b2b2b !important;
  }

  /* left sidebar divider  */
  .roam-body .roam-app .roam-sidebar-container .roam-sidebar-content .starred-pages-wrapper > div:first-child {
    background-color: #2b2b2b !important;
  }

  /* topbar */
  .roam-topbar {
    background: #000;
    border-bottom: 1px solid #2b2b2b !important;
  }

  /* search */
  .rm-find-or-create-wrapper {
    flex: 0 1 100% !important;
  }

  .rm-find-or-create-wrapper .bp3-input {
    border: none !important;
    box-shadow: none !important;
  }
}
